@model InstantTutors.Areas.Admin.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Dashboard " + Model.User.FirstName + " " + Model.User.LastName;
    var __image = Model == null ? "icon2.png" : (Model.User.Gender == "Female" ? "female.png" : "male.png");
}
<style>

    .img-profile {
        border-radius: 50%;
        max-width: 100%;
        width: 114px;
        height: 114px;
        border: 1px solid #80808029;
    }
</style>
<section class="welcome-sec wow fadeInUp animated" data-wow-duration="2s" style="padding-top:8px">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    @if (string.IsNullOrEmpty(Model.User.ProfileImage))
                    {
                        <img class="img-profile mt-1 mb-1" src="~/Content/images/@__image" alt="@__image" />
                    }
                    else
                    {
                        <img class="img-profile mt-1 mb-1" src="~/Content/images/tutor/@Model.User.ProfileImage" alt="@Model.User.ProfileImage" onerror="this.onerror=null;this.src='~/Content/images/@__image';" />
                    }
                </h1>
                <h3 class="head_title">Welcome Admin, <b>@Model.User.UserName</b></h3>
                <hr />
            </div>
        </div>
    </div>
</section>
@*<section class="sql-editor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    SQL Editor &nbsp;<br />
                    <small style="font-size: 50%;">
                        <a href="@Url.Action("Index", "Sql", new { area = "Admin" })" hidefocus="hidefocus">
                            SQL Query Executor
                        </a>
                    </small>
                </h4>
                <hr />
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                </div>
            </div>
        </div>

    </div>
</section>*@

<section class="tutor-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-horizontal">
                    <h4>
                        Tutors List &nbsp;
                    </h4>
                  
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped"  id="tblid1">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Grade </th>
                                                    <th>School </th>
                                                    <th>Subjects </th>
                                                    <th style="width:24%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var tutor in Model.TutorsList)
                                                {
                                                    <tr>
                                                        <td>@tutor.User.FirstName&nbsp;@tutor.User.LastName</td>
                                                        <td>@tutor.User.Email</td>
                                                        <td>@tutor.User.PhoneNumber</td>
                                                        <td>@tutor.GradeLevel</td>
                                                        <td>@tutor.NameOfSchool</td>
                                                        <td>@tutor.PreviousSubjects</td>
                                                        <td>
                                                            <a class="btn btn-info" href="@Url.Action("Availability", "Session", new { area = "Admin", userid = tutor.User.Id })" hidefocus="hidefocus">
                                                                View Availability
                                                            </a>
                                                            @if (!@tutor.User.HasDisabled)
                                                            {
                                                                <a class="btn btn-success" href="@Url.Action("ActiveDeactiveTutor", "Dashboard", new { area = "Admin", userid = tutor.User.Id })" onclick="return confirm('Are you sure you want to diactivate?')">
                                                                    Active
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-secondary" href="@Url.Action("ActiveDeactiveTutor", "Dashboard", new { area = "Admin", userid = tutor.User.Id })" onclick="return confirm('Are you sure you want to Activate?')">
                                                                    In-Active
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.TutorsList.Count == 0)
                                                {
                                                    <tr><td colspan="6">NO RESULT FOUND.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="col-12">
                                    <a href="@Url.Action("Tutors", "Dashboard", new { area = "Admin" })" hidefocus="hidefocus">
                                        View All Tutors
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="student-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-horizontal">
                    <h4>
                        Students List &nbsp;
                    </h4>
                    
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped"  id="tblid">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Grade </th>
                                                    <th>School </th>
                                                    <th style="width:24%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var student in Model.StudentsList)
                                                {
                                                    <tr>
                                                        <td>@student.User.FirstName&nbsp;@student.User.LastName</td>
                                                        <td>@student.User.Email</td>
                                                        <td>@student.User.PhoneNumber</td>
                                                        <td>@student.User.StudentGrade</td>
                                                        <td>@student.User.StudentSchool</td>
                                                        <td>
                                                            <a class="btn btn-info" href="@Url.Action("Index", "Session", new { area = "Admin", userid = student.User.Id })" hidefocus="hidefocus">
                                                                View Sessions
                                                            </a>
                                                            @if (!@student.User.HasDisabled)
                                                            {
                                                                <a class="btn btn-success" href="@Url.Action("ActiveDeactivestudent", "Dashboard", new { area = "Admin", action = "Deactivate" ,userid = student.User.Id })" onclick="return confirm('Are you sure you want to diactivate?')">
                                                                    Active
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-secondary" href="@Url.Action("ActiveDeactivestudent", "Dashboard", new { area = "Admin", action = "Activate", userid = student.User.Id })" onclick="return confirm('Are you sure you want to Activate?')">
                                                                    In-Active
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.StudentsList.Count == 0)
                                                {
                                                    <tr><td colspan="6">NO RESULT FOUND.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="col-12">
                                    <a href="@Url.Action("Students", "Dashboard", new { area = "Admin" })" hidefocus="hidefocus">
                                        View All Students
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
