@model InstantTutors.Areas.Tutor.ViewModels.TutorViewModel

@{
    ViewBag.Title = "Dashboard - " + Model.User.FirstName + " " + Model.User.LastName;
    var __image = Model == null ? "icon2.png" : (Model.User.Gender == "Female" ? "female.png" : "male.png");
}
<style>
    .img-profile {
        border-radius: 50%;
        max-width: 100%;
        width: 114px;
        height: 114px;
        border: 1px solid #80808029;
    }
</style>
<section class="welcome-sec wow fadeInUp animated" data-wow-duration="2s" style="padding-top:8px">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    @if (string.IsNullOrEmpty(Model.User.ProfileImage))
                    {
                        <img class="img-profile mt-1 mb-1" src="~/Content/images/@__image" alt="@__image" />
                    }
                    else
                    {
                        <img class="img-profile mt-1 mb-1" src="~/Content/images/tutor/@Model.User.ProfileImage" alt="@Model.User.ProfileImage" onerror="this.onerror=null;this.src='~/Content/images/@__image';" />
                    }
                </h1>
                <h3 class="head_title">Welcome Tutor, <b>@Model.User.FirstName&nbsp;@Model.User.LastName</b></h3>
                <hr />
            </div>
        </div>
    </div>
</section>
<section class="dash-profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    Profile &nbsp;
                    <small style="font-size: 50%;">
                        <a href="@Url.Action("Edit", "Profile", new { area = "Tutor", id = Model.UserId })" hidefocus="hidefocus">
                            Click Here To Update Profile
                        </a>
                    </small>
                </h4>
                <hr />
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Full Name: </span> @Model.User.Title&nbsp;@Model.User.FirstName&nbsp;@Model.User.LastName
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Email: </span> @Model.User.Email
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Name of School: </span> @Model.NameOfSchool
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Grade Level: </span> @Model.GradeLevel
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Previous Subjects: </span> @Model.PreviousSubjects
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <span style="color:grey">Experience: </span> @Model.Experience
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <small>
                        <a href="@Url.Action("Index", "Profile", new { area = "Tutor", id = Model.UserId })" hidefocus="hidefocus">
                            View Full Profile
                        </a>
                    </small>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="dash-session">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-horizontal">
                    <br />
                    <h4>
                        Tuition Availability Information &nbsp;
                        <small style="font-size: 50%;">
                            <a href="@Url.Action("Availability", "Session", new { area = "Tutor", id = Model.UserId })" hidefocus="hidefocus">
                                Click Here To Update Availability
                            </a>
                        </small>
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                @Html.Label("ALL TIMINGS ARE IN EASTERN STANDARD TIME (EST)", "ALL TIMINGS ARE IN EASTERN STANDARD TIME (EST)", htmlAttributes: new { @class = "control-label lbl-required col-12" })
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Day/Date</th>
                                                    <th>10:00 A.M.</th>
                                                    <th>11:00 A.M.</th>
                                                    <th>12:00 A.M.</th>
                                                    <th>01:00 P.M.</th>
                                                    <th>02:00 P.M.</th>
                                                    <th>03:00 P.M.</th>
                                                    <th>04:00 P.M.</th>
                                                    <th>05:00 P.M.</th>
                                                    <th>06:00 P.M.</th>
                                                    <th>07:00 P.M.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.TutorAvailability.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Model.TutorAvailability[i].Day.ToString()</td>
                                                        @for (int j = 0; j < Model.TutorAvailability[i].Timing.Count; j++)
                                                        {
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    @Html.CheckBoxFor(m => Model.TutorAvailability[i].Timing[j].Selected, new { @id = "customCheck-" + i + "-" + j, @class = "custom-control-input form-control", @disabled = "disabled" })
                                                                    @Html.HiddenFor(m => @Model.TutorAvailability[i].Timing[j].Time)
                                                                    @Html.HiddenFor(m => @Model.TutorAvailability[i].Timing[j].AvailabilityTime)
                                                                    @Html.HiddenFor(m => @Model.TutorAvailability[i].Id)
                                                                    @Html.HiddenFor(m => @Model.TutorAvailability[i].Day)
                                                                    <label class="custom-control-label" for="customCheck-@i-@j"></label>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="dash-session">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-horizontal">
                    <h4>
                        Scheduled Session &nbsp;
                        <small style="font-size: 50%;"> <a href="@Url.Action("Schedule", "Session", new { area = "Tutor" })" hidefocus="hidefocus">Schedule A New Session</a></small>
                    </h4>
                    <hr />
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                @Html.Label("ALL TIMINGS ARE IN EASTERN STANDARD TIME (EST)", "ALL TIMINGS ARE IN EASTERN STANDARD TIME (EST)", htmlAttributes: new { @class = "control-label lbl col-12" })
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-4 table-striped" id="tblid">
                                            <thead>
                                                <tr>
                                                    <th>Session</th>
                                                    <th>Student</th>
                                                    <th>Description</th>
                                                    <th>Communication Mode</th>
                                                    <th>Created On</th>
                                                    <th>Status</th>
                                                    <th style="width:32%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var schedule in Model.SessionsList)
                                                {
                                                <tr>
                                                    <td>@schedule.Title</td>
                                                    <td>@schedule.TutorName</td>
                                                    <td>@schedule.Description</td>
                                                    <td>@schedule.CommunicationMethod</td>
                                                    <td>@schedule.CreatedDate</td>
                                                    <td>
                                                        @if (schedule.Status == 0)
                                                        {
                                                            <span style="color:gray; font-weight:bold;">Waiting For Approval</span>
                                                        }
                                                        else if (schedule.Status == 1)
                                                        {
                                                            <span style="color:#5cb85c;font-weight:bold;">Approved</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="color:#d9534f;font-weight:bold;">Declined</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (schedule.Status == 0 && schedule.CreatedBy != schedule.TutorUserId)
                                                        {
                                                            <a class="btn btn-primary" href="@Url.Action("ApproveSession", "Session", new { area = "Tutor", id = schedule.Id })" onclick="return confirm('Are you sure you want to approve?')">
                                                                Approve
                                                            </a>

                                                            <a class="btn btn-secondary" href="@Url.Action("DeclineSession", "Session", new { area = "Tutor", id = schedule.Id })" onclick="return confirm('Are you sure you want to decline?')">
                                                                Decline
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-primary" disabled>Approve</button>
                                                            <button type="button" class="btn btn-outline-secondary" disabled>Decline</button>
                                                        }

                                                        <a disabled class="btn btn-info" href="@Url.Action("Schedule", "Session", new { area = "Tutor", id = schedule.Id })" hidefocus="hidefocus">
                                                            View
                                                        </a>
                                                        @if (schedule.CreatedBy == schedule.TutorUserId)
                                                        {
                                                            <a class="btn btn-danger" href="@Url.Action("DeleteSession", "Session", new { area = "Tutor", id = schedule.Id }) " onclick="return confirm('Are you sure you want to delete?')">
                                                                Delete
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-outline-danger" disabled>Delete</button>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                                @if (Model.SessionsList.Count == 0)
                                                {
                                                    <tr><td colspan="5" class="text-center">NO RESULT FOUND.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="col-12">
                                    <a href="@Url.Action("Index", "Session", new { area = "Tutor" })" hidefocus="hidefocus">
                                        View All Sessions
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>